<!DOCTYPE html>
<html>
<head>
  <title>Revily::Ui</title>
  <%= stylesheet_link_tag    "revily/ui/application", media: "all" %>
  <%= javascript_include_tag "revily/ui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
